@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

* {
  margin: 0;
  border: none;
  text-decoration: none;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lexend Deca", sans-serif;
}

#body_tables * {
  overflow-x: visible;
}

:root {
  --azulPrincipal: #01567d;
  --azulEscuro: #003f5b;
  --cinza: #666;
  --cinzaClaro: #a8a8a8;
  --box-shadow: 5px 7px 10px 5px rgba(0, 0, 0, 0.25);
  --box-shadow-insert: 4px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  --background-main: #f6f6f6;
}

body {
  background-color: var(--background-main);
}


/*solucao: add seta no canto esquerdo e usar magim 0 alto para a logo*/
.topo-index {
  display: flex; 
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  background-color: var(--azulPrincipal);
}
.topo-index  .logoCenter{
  margin: 0 auto;
}

.logo-inicial {
  margin: 0 auto;
  padding-left: 110px;
}

.topo-inicial {
  background-color: var(--azulPrincipal);
  display: flex;
  align-items: center;
  padding: 30px;
}

.corpo-index {
  display: flex;
  justify-content: space-around;
  padding: 7.5%;
  background-color: var(--background-main);
}

.corpo-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 20%;
  background-color: var(--background-main);
}

#a_sairSala {
  display: flex;
  align-items: center;
  margin-top: 25px;
  bottom: 0;
  color: #e64545;
  transition: .3s;
}

#a_sairSala:hover,
#a_sairSala img:hover {
  color: #970a0a;
  transform: scale(0.9, 0.9);
}

#a_sairSala img {
  margin-right: 10px;
  transition: .3s;
}

.corpo-inicial h2,
#main_homeProfessor h2 {
  font-size: 35px;
  color: #666666;
  margin-bottom: 19px;
}

.bem-vindo {
  display: flex;
  flex-direction: column;
}

.corpo-inicial .bem-vindo a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cinza);
  font-size: 1.2rem;
  transition: 0.2s ease;
}

.corpo-inicial .bem-vindo a:hover {
  color: var(--azulPrincipal);
  transform: scale(0.9);
}

.corpo-inicial .bem-vindo a i {
  padding: 3%;
}

.pesquisa {
  width: 100%;
}

.pesquisar {
  width: 50%;
  height: 40px;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: var(--box-shadow-insert);
  margin-bottom: 100px;
  font-family: "Lexend Deca", sans-serif;
  padding-left: 10px;
  outline: none;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 9px;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  padding-left: 50px;
}

.aviso h3 {
  font-size: 35px;
  margin-bottom: 45px;
  color: #5b5b5b;
}

.aviso p {
  font-size: 18px;
  color: #5b5b5b;
}

.aviso a {
  color: var(--azulPrincipal);
}

.container-texto {
  text-align: center;
  width: 50%;
  word-wrap: break-word;
  margin-top: 70px;
}

.container-texto h2 {
  color: var(--azulPrincipal);
  font-size: 48px;
}

.corpo-inicial .turmas {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;
}

.corpo-inicial .turmas .card {
  width: 310px;
  background-color: #fff;
  border-radius: 20px;
  margin: 9px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.corpo-inicial .turmas .card .rodape img:hover,
#a_sairSala:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

.corpo-inicial .turmas .card .infos {
  margin: 32px 0px;
  padding: 2rem;
}

.corpo-inicial .turmas .card #first_p {
  margin-bottom: 37px;
  font-size: 1.2rem;
  color: var(--azulPrincipal);
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  word-spacing: 3px;
}

.corpo-inicial .turmas .card #second_p {
  display: flex;
  justify-content: flex-start;
}

.corpo-inicial .turmas .card a {
  float: left;
  width: 100%;
}

.corpo-inicial .turmas .card .rodape {
  background-color: var(--azulPrincipal);
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
}

.corpo-inicial .turmas .card .rodape i {
  display: flex;
  margin: 23px 0px 20px 27px;
  font-size: 24px;
  color: #f4f4f4;
}

.corpo-inicial .turmas .card .rodape i:hover {
  color: #003f5b;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: end;
}

.icons i {
  font-size: 35px;
}

.container-texto p {
  padding: 50px;
  font-size: 20px;
}

.contatos .icones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  font-size: 18px;
  background-color: var(--azulPrincipal);
  color: white;
  align-items: center;
  bottom: 0;
}

.entrar-index {
  width: 300px;
  height: 40px;
  background-color: var(--azulEscuro);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.escola {
  display: flex;
  gap: 30px;
  align-items: center;
}

.entrar-index:hover {
  background-color: var(--azulPrincipal);
  transition: 1s ease-in-out;
}

.imagem-index {
  animation: imagemIndex 3s ease-in-out infinite alternate;
}

.escola-info {
  border-left: 1px solid #f5f5f5;
  padding-left: 30px;
}

@keyframes imagemIndex {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(10%);
  }
}

/* CSS da pagina de LOGIN */
#header_login {
  position: relative;
  z-index: 4;
}

#main_Login {
  display: flex;
  justify-content: center;
  padding: 1%;
  transition: 3s ease-in;
  margin: 90px 0px;
}

.form-box {
  background-color: #fff;
  border-radius: 25px;
  width: 563px;
  height: 600px;
  box-shadow: var(--box-shadow);
  padding: 2.5%;
  position: relative;
  overflow: hidden;
  right: 19%;
  z-index: 2;
}

.form_inputs {
  position: absolute;
  transition: 0.5s;
  width: 100%;
}

.form-box .botoes_box {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  gap: 30px;
}

.form-box .botoes_box button {
  color: #a8a8a8;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.form-box .botoes_box .ativo {
  color: var(--azulEscuro);
  border-bottom: 2px solid var(--azulEscuro);
}

.form-box .botoes_box button::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #01567d;
  transition: 0.3s ease;
}

.form-box .botoes_box button:hover {
  border-bottom: none;
  transform: translateY(-2px);
  color: #01567d;
}

.form-box .botoes_box button:hover::before {
  width: 100%;
}

#infosAcess {
  margin-top: 54px;
}

#infosAcess,
#infosCreate {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#infosAcess .input,
#infosCreate .input {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  flex-wrap: wrap;
}

#infosAcess input,
#infosCreate input,
#main_formPerfil .container_form .input input {
  background: #f4f4f4;
  display: flex;
  width: 80%;
  padding: 16px;
  background-image: url("../img/email.png");
  background-repeat: no-repeat;
  background-position: 12px center;
  padding-left: 42px;
  border-radius: 15px;
  font-size: 17px;
  border: none;
  outline: none;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  transition: 0.18s ease-out;
}

#infosAcess input:focus,
#infosCreate input:focus,
#form_verificacao #codigoVerificacao:focus,
#main_formPerfil .container_form .input input:focus {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

#infosAcess input::placeholder,
#infosCreate input::placeholder {
  color: var(--azulPrincipal);
  opacity: 90%;
  font-size: 17px;
}

#infosAcess a {
  display: flex;
  justify-content: center;
  color: #01567d;
  margin-top: -20px;
  transition: 0.9s;
}

#cadastrarProfLink {
  transition: 0.9s;
  color: #01567d;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#infosAcess a:hover,
#cadastrarProfLink:hover,
.conteudoConfirmarEmail a:hover {
  text-decoration: underline;
}

.input_entrar {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#infosCreate p {
  color: rgb(214, 75, 75);
}

.input_entrar input,
#gestor_default_main .bnts input,
#submitCadastrarGestor,
#submitConfirmarExclusao,
#submitCadastrarProfessor,
.botoesSenha #Btn_confirmar,
#enviarSenha,
.botoesTurmaNova input,
#main_cadastrarCategoriaMaquina button
{
  padding: 13px 40px 13px 40px;
  color: #fff;
  border-radius: 15px;
  font-size: 18px;
  background-color: var(--azulEscuro);
  cursor: pointer;
  transition: 0.3s;
}

.input_entrar input:disabled,
#submitCadastrarGestor:disabled,
#submitCadastrarSala:disabled,
.verificacaoSenha button:disabled,
.botoesSenha #Btn_confirmar:disabled,
#containerSubmit #submitTipo:disabled {
  background-color: #666666;
}

.input_entrar input:disabled:hover,
#submitCadastrarGestor:disabled:hover,
#submitCadastrarSala:disabled:hover,
#containerSubmit #submitTipo:disabled:hover 
{
  background-color: #666666;
  cursor: not-allowed;
  transform: none;
  color: #fff;
}

.input_entrar input:hover,
#form_verificacao #botao_verificar:hover,
#gestor_default_main .bnts input:hover,
#submitCadastrarGestor:hover,
#submitConfirmarExclusao:hover,
#submitCadastrarProfessor:hover,
.botoesSenha #Btn_confirmar:hover,
#enviarSenha:hover,
.botoesTurmaNova input:hover,
.addCategoria .conteudo:hover,
.addCategoria .conteudo:hover input,
#main_cadastrarCategoriaMaquina button:hover
{
  background-color: #036998;
  transform: scale(0.9, 0.9);
}

.gestao_link {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.gestao_link a {
  color: var(--azulPrincipal);
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  transition: 0.3s ease;
}

.gestao_link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--azulPrincipal);
  transition: 0.3s ease;
}

.gestao_link a:hover {
  color: var(--azulPrincipal);
  transform: translateY(-6px);
}

.gestao_link a:hover::before {
  width: 100%;
}

#login {
  left: 5%;
  width: 90%;
}

#register {
  left: 100%;
  width: 90%;
}

.eclipses {
  z-index: 1;
  margin-top: -230px;
}

.eclipses .img {
  position: absolute;
  z-index: 3;
  margin-top: 190px;
  right: 0;
}

.eclipses .img img {
  width: 100%;
}

.eclipse-1 {
  right: 0;
  width: 32%;
  position: absolute;
}

.eclipse-2 {
  right: 5px;
  width: 35%;
  position: absolute;
}

.eclipse-3 {
  right: 5px;
  width: 40%;
  position: absolute;
}

#footer_login {
  position: relative;
  bottom: 0;
  z-index: 5;
}

#infosCreate #senhaCadastro,
#infosCreate #confirmarSenhaCadastro,
#infosAcess #inputSenha {
  background-image: url(../img/Lock.png);
}

#infosCreate #nomeCompleto {
  background-image: url(../img/Person.png);
}

/* Sweet-alert */
.swal2-popup {
  background-color: var(--azulPrincipal);
}

.swal2-html-container a {
  color: #01b9d1;
}

div:where(.swal2-container) .swal2-html-container {
  color: white;
}

.swal2-title,
.swal2-content,
.swal2-icon {
  color: #fff;
}

#swal2-input {
  color: #fff;
}

.swal2-confirm.swal2-styled {
  background-color: #003f5b;
  color: #fff;
}

.swal2-title {
  background-color: var(--azulPrincipal);
}

.swal2-input-label {
  color: white;
}

/* ///////////// */

/* FIM do CSS da pagina de LOGIN */

/* CSS Menu Hamburger */
.menu {
  --s: 35px;
  /* control the size */
  --c: #fff;
  /* the color */

  height: 30px;
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}

.menu:checked:before {
  transform: rotate(45deg);
}

.menu:checked:after {
  transform: rotate(-45deg);
}

.menu:focus-visible {
  clip-path: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}




/* Adiciona estilo ao menu */
#menu {
  display: none;
  background-color: var(--azulPrincipal);
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 1;
 
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  padding: 15px;
  text-align: center;
  transition: 0.5s ease;
}

#menu a, #menu button {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
#menu button{
  background-color: var(--azulPrincipal) ;
}
#menu button:hover,#menu a:hover{
background-color: var(--azulEscuro);
cursor: pointer;
}

#menu li:hover {
background-color: var(--azulEscuro);
transition: 0.5s ease-in;
}

/* Adiciona classe 'open' ao menu para alterar a altura durante a animação */
#menu.open {
  display: block;
  height: 150px; /* Ajuste conforme necessário */
}
.icone-texto i{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



/* ///////////////// */

/*  CSS da pagina de CONFIRMAR EMAIL */

.areaCodTurmaNova,
.areaCod {
  display: flex;
  flex-direction: column;
}

.areaCodTurmaNova label,
.areaCod label {
  color: rgb(53, 53, 53);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 400px;
}

.areaCodTurmaNova input,
.areaCod input {
  width: 96%;
  height: 50px;
  padding-left: 5px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.781);
  outline: none;
  margin: 10px;
  background: #f4f4f4;
  border-radius: 10px;
  font-size: 17px;
  border: none;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);

}

.reenviar {
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #d4d4d4bd;
  cursor: pointer;
  transition: 0.3s ease;


}


.areaCodTurmaNova input::placeholder {
  color: #4d4d4d;
}

.areaCodTurmaNova input:focus-visible {
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.verificacaoEmail,
.verificacaoSenha {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.conteudoConfirmarEmail,
.conteudoConfirmarSenha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;

}

/* #main_confirmarEmail {
  padding: 10%;
display: flex;
justify-content: center;
flex-direction: column;
}
#main_confirmarEmail .introducao {
  margin-bottom: 10px;
}
#main_confirmarEmail .introducao h2 {
  margin-bottom: 10px;
}
#main_confirmarEmail .introducao p {
  display: flex;
  font-size: 1.1rem;
  color: #666666;
  max-width: 400px;
} */
/* #main_confirmarEmail .container-form {
display: flex;
} */
/* #form_verificacao input {
background-color: #003f5b;
}
#form_verificacao label {
  padding-bottom: 10px;
}
#form_verificacao #botao_verificar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  border-radius: 15px;
  font-size: 18px;
  background-color: var(--azulEscuro);
  cursor: pointer;
  width: 60%;
  transition: 0.3s ease;
}


#form_verificacao #codigoVerificacao {
  width: 90%;
  height: 50px;
  margin-top: 15px;
  padding-left: 5px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 10px;
  background: #f4f4f4;
  border-radius: 10px;
  font-size: 17px;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  margin: 5px;
  max-width: 400px;
 
}
#form_reenviarCodigo {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}
#form_reenviarCodigo p {
  margin-right: 10px;
}
#form_reenviarCodigo input {
  color: #0392d4;
  cursor: pointer;
  transition: 0.3s ease;
}
#form_reenviarCodigo input:hover {
  color: #50bbec;
  text-decoration: underline;
}

#footer_confirmarEmail {
  bottom: 0;
  display: flex;
  position: absolute;
  width: 100%;
} */
/* FIM da  CSS da pagina de CONFIRMAR EMAIL */

/*Página Turma nova*/
.conteudoTurmaNova {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;

}

.areaCod {
  display: flex;
  flex-direction: column;
}

.areaCod h2 {
  font-size: 24px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.2;
  ;
}

.areaCod label {
  color: rgb(53, 53, 53);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.areaCod input,
#senhaModal input {
  width: 90%;
  height: 50px;
  margin-top: 15px;
  padding-left: 5px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.781);
  outline: none;
  margin: 10px;

  background: #f4f4f4;
  border-radius: 10px;
  font-size: 17px;
  border: none;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  margin: 5px;
}

.areaCod input::placeholder {
  color: #4d4d4d;
}

.areaCod input:focus,
#senhaModal input:focus {
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.botoesTurmaNova,
.botoesSenha {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

/* .botoesTurmaNova input {
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  border-radius: 15px;
  background: #01567d;
  color: #fff;
} */

/* .botoesTurmaNova input:hover {
  background-color: #036998;
  transform: scale(0.9, 0.9);
  cursor: pointer;
  transition: 1s ease-in-out;
} */

/*Fim da página Turma nova*/

/* página Home Gestao*/

#body_homeGestao {
  background-image: url(../img/svg/fundoHomeGestao.svg);
  background-repeat: no-repeat;
  background-position-x: 4%;
}

#header_homeGestao img {
  display: flex;
  justify-content: center;
}

#main_homeGestao {
  margin-top: 90px;
}

#main_homeGestao .titulo h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 5px;
}

#main_homeGestao .titulo h2 b,
#main_homeGestao .card .tituloCard b {
  color: var(--azulPrincipal);
}

#main_homeGestao .titulo p {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

#main_homeGestao .section_cards {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main_homeGestao .card .conteudo_card {
  padding: 2%;
}

#main_homeGestao .card {
  padding: 3%;
  width: 331px;
  height: 331;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  float: left;
  background-color: #f5f5f5;
  transition: 1s ease-in-out;
  margin: 20px;
}

#main_homeGestao .card:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

#main_homeGestao .card .img {
  background-color: var(--azulPrincipal);
  width: fit-content;
  padding: 18px;
  border-radius: 20px;
}

#main_homeGestao .card .tituloCard {
  color: var(--cinza);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 19px 0px;
}

#main_homeGestao .card .descricao {
  color: var(--cinzaClaro);
  font-size: 15px;
  padding: 2%;
}

#main_homeGestao .card .btn {
  float: right;
}

#main_homeGestao .card .btn a i {
  font-size: 2rem;
  color: var(--azulEscuro);
  transition: 0.2s ease;
  margin-top: 10px;
}

#main_homeGestao .card .btn a i:hover {
  color: #0392d4;
  transform: scale(0.9);
}

/*Fim da página Home Gestao*/

/*Página PESSOAS TURMA*/
#main_pessoasTurma .pessoa div {
  display: flex;
}

#main_pessoasTurma {
  color: black;
  width: 100%;
  display: block;
}

/*FIM Página PESSOAS TURMA*/

/*Página  HOME PROFESSOR*/
#body_homeProfessor {
  background-image: url(../img/svg/bg_homeProfessor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 20%;
}


#main_homeProfessor * {
  align-items: center;
}

#main_homeProfessor {
  padding: 7%;
}

#main_homeProfessor .btnCriarSala {
  display: flex;
  justify-content: center;
}



#main_homeProfessor .btnCriarSala a:hover {
  color: var(--azulEscuro);
  background-color: var(--background-main);
  transform: scale(0.9);
}

#main_homeProfessor .btnCriarSala a {
  margin-right: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cinza);
  font-size: 1.2rem;
  transition: 0.2s ease;
  color: var(--background-main);
  align-items: center;
  background-color: #003f5b;
  font-size: 24px;

  transition: .3s;
  padding: 10px;
  border-radius: 10px;
}

#main_homeProfessor .btnCriarSala a i {
  margin-right: 10px;
}

#main_homeProfessor .pesquisa {
  display: flex;
  justify-content: center;
}

#main_homeProfessor .turmas {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;
}

#main_homeProfessor .turmas .card {
  width: 310px;
  background-color: #fff;
  border-radius: 20px;
  margin: 9px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

#main_homeProfessor .turmas .card:hover {
  transform: translateY(-20px) !important;
  box-shadow: none;
}

#main_homeProfessor .turmas .card .infos {
  margin: 32px 0px;
  padding: 2rem;
}

#main_homeProfessor .turmas .card #first_p {
  margin-bottom: 37px;
  font-size: 1.2rem;
  color: var(--azulPrincipal);
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  word-spacing: 3px;
}

#main_homeProfessor .turmas .card #second_p {
  display: flex;
  justify-content: flex-start;
}

#main_homeProfessor .turmas .card a {
  float: left;
  width: 100%;
}

#main_homeProfessor .turmas .card .rodape {
  background-color: var(--azulPrincipal);
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
}

.turmas .card .rodape img {
  display: flex;
  margin: 23px 0px 20px 27px;
  font-size: 24px;
  color: #f4f4f4;
}

.turmas .card .rodape i:hover {
  transform: scale(0.9, 0.9);
}

.bem-vindo {
  display: flex;
  justify-content: center;
}

#main_homeProfessor h2 {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-main);
}

#main_homeProfessor h2 b {
  border-radius: 10px;

}

.form_cadastrarTurma {
  display: flex;
  justify-content: center;

}

.form_cadastrarTurma .container,
.w3-modal-content {
  background-color: var(--azulPrincipal);
  padding: 1vw;
  border-radius: 20px;
  width: 40vw;

}

.form_cadastrarTurma .container .logo,
.form_cadastrarTurma .container .icone {
  display: flex;
  justify-content: center;
}

.form_cadastrarTurma .container .icone img {
  width: 60px;
}

.form_cadastrarTurma .container .logo {
  margin-bottom: 25px;
  margin-top: 10px;
}

.form_cadastrarTurma .container .input_nome,
.input_modal {
  display: flex;
  justify-content: center;
  margin: 40px 0px 25px 0px;
  width: 100%;
}

.form_cadastrarTurma .container .input_nome input,
.input_modal input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.form_cadastrarTurma .container .input_nome input {
  width: 100%;
}

.form_cadastrarTurma .container .input_nome input:active,
.input_modal input:active {
  transform: scale(0.95);
}

.form_cadastrarTurma .container .input_nome input:focus,
.input_modal input:focus {
  border: 2px solid grey;
}

.form_cadastrarTurma .container .input_codigo {
  display: flex;
  justify-content: center;
}

.form_cadastrarTurma .container .input_nome input:focus {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.form_cadastrarTurma .container .checkboxes {
  display: flex;
  flex-direction: column;
}

.checkboxes .titulo {
  color: #b6e4f0;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.container-checkboxes {
  margin: 27px 40px;
}

.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b6e4f0;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.cyberpunk-checkbox:disabled {
  cursor: not-allowed;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #b6e4f0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
}

.form_cadastrarTurma .container .bnts {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  padding: 13px;
}

.form_cadastrarTurma .container .bnts button,
.form_cadastrarTurma .container .bnts input {
  cursor: pointer;
}

.form_cadastrarTurma .container .header {
  margin-top: 20px;
}


.form_cadastrarTurma .container .bnts input:hover,
.form_cadastrarTurma .container .bnts button:hover,
.cadastrar-maquina input:hover, 
#main_cadastrarCategoriaMaquina #submitTipo:hover {
  color: var(--azulEscuro);
  background-color: var(--background-main);
  transform: scale(0.9);
}

.form_cadastrarTurma .container .bnts input,
.form_cadastrarTurma .container .bnts button {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cinza);
  font-size: 1.2rem;
  transition: 0.2s ease;
  color: var(--background-main);
  align-items: center;
  background-color: #003f5b;
  font-size: 15px;
  transition: .3s;
  padding: 10px;
  border-radius: 10px;
}

/*FIM Página HOME PROFESSOR*/


/* CSS DAS TABELAS */


#html_tables,
#body_tables {
  display: table;
  height: 100%;
  width: 100%;
  color: #252a3b;
  background-color: #f8f8f8;

}

#body_tables {
  background-image: url(../img/svg/bg_tabelaAlunos.svg);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 50%;
}

.table-container {
  display: flex;
  justify-content: center;
}

.row__title {
  color: #53646f;
  margin: 0;
  display: flex;
  justify-content: center;
  color: rgba(83, 99, 110, 0.40);
  font-size: 27px;
  font-weight: 700;

}

.row__title b {
  color: var(--azulPrincipal);
  margin-right: 10px;
}

.row--top-40 {
  margin-top: 40px;
}

.row--top-20 {
  margin-top: 20px;
}

.table__th {
  color: #9eabb4;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0 !important;
  padding: 15px 8px !important;
}

.table-row {
  border-bottom: 1px solid #e4e9ea;
  background-color: #fff;
}

.table__th:hover {
  color: #01b9d1;
}

.table--select-all {
  width: 18px;
  height: 18px;
  padding: 0 !important;
  border-radius: 50%;
  border: 2px solid #becad2;
}

.table-row__td {
  padding: 12px 8px !important;
  vertical-align: middle !important;
  color: #53646f;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  line-height: 18px !important;
  border: 0 !important;
}

.table-row__img {
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.table-row--student .table-row__img {
  background-image: url('../img/svg/Student.svg');
}

.table-row--teacher .table-row__img {
  background-image: url('../img/svg/professor.svg');
}

.table-row--class .table-row__img {
  background-image: url('../img/svg/class.svg');
}

.table-row--checklist .table-row__img {
  background-image: url('../img/svg/checklist.svg');
}

.table-row--gears .table-row__img {
  background-image: url('../img/svg/Gears.svg');
}

.table-row--gestor .table-row__img {
  background-image: url('../img/svg/gestor.svg');
}

.table-row__info {
  display: inline-block;
  padding-left: 12px;
  vertical-align: middle;
}

.table-row__id {
  color: #53646f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;
}

.table-row__small {
  color: #9eabb4;
  font-weight: 300;
  font-size: 12px;
}

.table-row__p {
  color: #53646f;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;
}

.table-row__p-status {
  margin-bottom: 0;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
  color: #9eabb4;
}

.table-row__status {
  margin-bottom: 0;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
  color: #9eabb4;
}

.table_delete {
  cursor: pointer;
  transition: .3s ease;
  display: flex;
  justify-content: center;
}

.table-row__td a {

  display: flex;
  justify-content: center;
}

.table_delete:hover {
  transform: scale(0.9, 0.9);
}

.table-row__progress {
  margin-bottom: 0;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
  color: #9eabb4;
}



.table__select-row {
  appearence: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  margin: 0 0 0 5px !important;
  vertical-align: middle;
  border: 2px solid #beccd7;
  border-radius: 50%;
  cursor: pointer;
}





.table-row--overdue {
  width: 3px;
  background-color: #e36767;
  display: inline-block;
  position: absolute;
  height: calc(100% - 24px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.table-row__edit {
  width: 46px;
  padding: 8px 17px;
  display: inline-block;
  background-color: #daf3f8;
  border-radius: 18px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

.table-row__bin {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.table-row--red {
  background-color: #fff2f2;
}

.excluirDaTurma_btn {
  color: rgb(202, 16, 16);
  text-decoration: underline;
  cursor: pointer;
}

.custom-select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.3;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.custom-select .link_option {
  color: #003f5b;
  text-decoration: underline;
  cursor: auto;
}

#removerAluno_da_sala {
  color: #e05252;
  padding: 3px;
  font-size: 13px;
}

#removerAluno_da_sala:hover {
  color: #f80404;
  background-color: rgba(229, 230, 231, 0.2);
}

/* FIM CSS DAS TABELAS */

/*CSS  CHECKLIST*/

#visualizarMaquinas * {
  overflow-x: visible;
}

.boxLedCheck{
  display: flex;
  flex-direction: column;
}
.boxLedCheck2{
  width: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ledVermelhoOn{
  width: 25px;
  height: 25px;
  background-color: rgb(226, 96, 96);
  border-radius: 100px;
  margin: 2%;
}
.ledVerdeOn{
  width: 25px;
  height: 25px;
  background-color: rgb(98, 199, 98);
  border-radius: 100px;
  margin: 2%;
}
.ledOff{
  width: 25px;
  height: 25px;
  background-color: grey;
  border-radius: 100px;
  margin: 2%;
}


.container-infoMaq {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
  margin-top: 20px;


}

.subInfo .id h3,
.nome_maquina {
  color: #01567d;
  font-size: large;
}

#visualizarMaquinas .btns .btn, #visualizarMaquinas .btns .btn input  {
  width: 130px;
  background-color: var(--azulPrincipal);
  text-align: center;
  margin-top: 5px;
  border-radius: 7px;
  align-items: center;
}

#visualizarMaquinas .btns .btn a,  .btns .btn input {
  color: white;
}

.nome_maquina {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.graficos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px 0 100px;
  max-width: 100%;
}
#graficos{
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
}

.graficos .card-graficos {
  background-color: white;
  width: 400px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px #cecece,
    -8px -8px 16px #f2f2f2;
  padding: 10px;
  margin: 10px;
}

#chartdiv {
  width: 100%;
  height: 200px;
}

.tituloCheck {
  margin-top: 50px;
  color: #003f5b;
  text-align: center;
}

.infoCheck {
  text-align: center;
  color: #003f5b;
  font-weight: 600;
  font-size: 18px;
}

.container-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;


}



.material-checkbox {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #777777;
  cursor: pointer;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid #021a07;
  border-radius: 4px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked~.checkmark {
  background-color: var(--background-main);
  border-color: #5ef059;

}

.material-checkbox input[type="checkbox"]:checked~.checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid rgb(55, 194, 21);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus~.checkmark {
  box-shadow: 0 0 0 2px #67f714b2;
}

.material-checkbox:hover input[type="checkbox"]~.checkmark {
  border-color: #000000;
}

.material-checkbox input[type="checkbox"]:disabled~.checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled~.checkmark:hover {
  border-color: #1ed418;
}


.botao-desabilitado.botao-desabilitado {
  border-color: #ff0101;
}

.testando{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*FIM CSS CHECKLIST*/

/*CSS MAQUINAS DA TURMA*/
#main_maquinasDaTurmas * {
  overflow-x: visible;
}

#main_maquinasDaTurmas .maquinas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px 50px;
  flex-wrap: wrap;
  padding: 100px 50px;
}

#main_maquinasDaTurmas .maquinas .card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 330px;
  height: 405px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
  align-self: flex-start;
  z-index: 2;
  cursor: pointer;
  margin: 5px;
}

#main_maquinasDaTurmas .maquinas .card:hover {
  height: 350px;
  box-shadow: none;
}

#main_maquinasDaTurmas .maquinas .card .imgBx {
  position: absolute;
  width: 240px;
  height: 200px;
  top: 20px;
  border-radius: 12px;
  transition: 0.5s;
  z-index: 1;
}

#main_maquinasDaTurmas .maquinas .card:hover .imgBx {
  top: -100px;
  scale: 0.75;
}

#main_maquinasDaTurmas .maquinas .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

#main_maquinasDaTurmas .maquinas .card .content {
  top: 290px;
  position: absolute;
  width: 100%;
  padding: 0px 30px;
  text-align: center;
  height: 75px;
  overflow: hidden;
  transition: 0.5s ease;
}

#main_maquinasDaTurmas .maquinas .card .content div {
  display: flex;
  justify-content: center;
}

#main_maquinasDaTurmas .maquinas .card .content h2 {
  color: #003f5b;
  font-size: 1.9rem;
  background-color: #fff;
  font-weight: 600;
  transition: .2s;
}

#main_maquinasDaTurmas .maquinas .card:hover .content {
  height: 250px;
  top: 170px;
}

#main_maquinasDaTurmas .maquinas .card .content h2:hover {
  color: #01b9d1;
}

#main_maquinasDaTurmas .maquinas .card .content p {
  color: var(--azulEscuro);
  padding: 2px;
}

#main_maquinasDaTurmas .maquinas .card .content a {
  display: flex;
  justify-content: center;
  color: var(--background-main);
  background-color: #003f5b;
  font-size: 15px;
  transition: .3s;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease;
  width: 40%;
  margin-top: 15px;
}

#main_maquinasDaTurmas .maquinas .card:hover .content a:hover {
  color: var(--background-main);
  background-color: #0392d4;
  transform: scale(0.9);
}

/*FIM CSS MAQUINAS DA TURMA*/


/* CSS FORM EDITAR PERFIL*/
#body_perfil {
  background-image: url(../img/svg/bg_perfil.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 14%;
}

#main_formPerfil {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#main_formPerfil .container_form {
  width: 280px;
}

#main_formPerfil .container_form section {
  background-color: rgb(240, 238, 238);
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

#main_formPerfil .container_form section .edit_Icon {
  display: flex;
  margin-bottom: 160px;
  margin-left: 226px;
  position: absolute;
  padding: 6px;
  cursor: pointer;
  transition: .3s ease;
}

#main_formPerfil .container_form section .edit_Icon:hover {
  transform: scale(0.8);
}

#main_formPerfil .container_form form {
  margin-top: 40px;
}

#main_formPerfil .container_form .input {
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 36px;
  align-items: center;
}

#main_formPerfil .container_form .input input {
  margin: 2px;
}

#main_formPerfil .container_form .input .nome {
  background-image: url(../img/Person.png);
}

#main_formPerfil .container_form .input .cpf {
  background-image: url(../img/svg/documentoIcone.svg);
}

#main_formPerfil .container_form .input .turma {
  background-image: url(../img/svg/nameTag.svg);
}

#main_formPerfil .container_form .input .codigo {
  background-image: url(../img/svg/Lock.svg);
}

#main_formPerfil .container_form .input #codigo_acesso {
  background-image: url(../img/svg/nameTag.svg);
}

#main_formPerfil .container_form form .bnts {
  display: flex;
  flex-direction: column;
}

#main_formPerfil .container_form form .bnts .inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main_formPerfil .container_form form .bnts input,
#submitCadastrarSala,
.cadastrar-maquina input,
#main_cadastrarCategoriaMaquina #submitTipo
{
  display: flex;
  justify-content: center;
  color: var(--cinza);
  font-size: 1.2rem;
  transition: 0.2s ease;
  color: var(--background-main);
  background-color: #003f5b;
  font-size: 15px;
  transition: .3s;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
  margin: 10px 0px 0px 10px;
}

#main_formPerfil .container_form form .bnts input:hover {
  color: var(--azulEscuro);
  background-color: var(--background-main);
  transform: scale(0.9);
}

#main_formPerfil .container_form form .bnts input:disabled {
  background-color: #4d4d4d;
  cursor: not-allowed;
}

#main_formPerfil .container_form form .bnts input:disabled:hover {
  transform: none;
  color: white;
}

#main_formPerfil .container_form form .bnts a {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  color: var(--azulPrincipal);
  text-decoration: underline;
  transition: .2s ease;
}

#main_formPerfil .container_form form .bnts a:hover {
  color: #01b9d1;
}

#main_formPerfil #botaoCancelar,
#cancelar_button,
#botaoCancelarRecuperacaoSenha {
  background-color: rgb(202, 60, 60);
  margin-top: 10px;
  transition: .5s ease;
}

#main_formPerfil #botaoCancelar:hover,
#cancelar_button:hover,
#botaoCancelarRecuperacaoSenha:hover {
  color: rgb(202, 60, 60);
  background-color: var(--background-main);
  transform: scale(0.9);
}

/*FIM CSS FORM EDITAR PERFIL*/

/*CSS FORM EDITAR turma*/
#checkboxesFormEditarTurma {
  margin-top: 20px;
  margin-bottom: 20px;
}

#checkboxesFormEditarTurma .cyberpunk-checkbox {
  border: var(--azulEscuro) 2px solid;
}

#checkboxesFormEditarTurma .cyberpunk-checkbox::before {
  background-color: var(--azulPrincipal);
}

#checkboxesFormEditarTurma .cyberpunk-checkbox-label {
  display: flex;
  color: #000000;
}

#checkboxesFormEditarTurma .titulo p {
  color: #000000;
}

/*FIM CSS FORM EDITAR turma*/


/* CSS GESTOR DEAFULT*/

/* - modal - */
.w3-display-topright {
  color: white;
  font-size: 30px;
  transition: .3s ease;
}

.w3-display-topright:hover {
  transform: scale(0.9, 0.9);
  background-color: transparent;
}

#submitCadastrarGestor {
  font-size: 17px;
  margin-top: 10px;
}

#submitConfirmarExclusao {
  background-color: #e64545;
  font-size: 17px;
}

#submitConfirmarExclusao:hover {
  background-color: #ee7d7d;
}

#gestor_default_main .bnts {
  display: flex;
  justify-content: center;
  margin-top: 88px;
  gap: 5px;
}

#gestor_default_main .bnts #submitCadastrarSala {
  width: 50%;
}

#gestor_default_main .bnts input {
  font-size: 15px;
  padding: 10px;
}


#gestor_default_main .w3-button {
  color: white;
}

.form_modal .header {
  display: flex;
  justify-content: center;
}

.form_modal form {
  padding: 2vw;
}

.form_modal .container .header {
  padding: 10px;
}

.form_modal .container .header .logo {
  padding: 20px;
}

.form_modal .container .header .icone {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form_modal .p_modal {
  color: #bfe8fbb2;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.form_modal #exclusaoGestor_p {
  margin-top: 10px;
}

#verificacaoCPF_p {
  color: #0392d4;
}

/* ----- */

/* FIM CSS GESTOR DEAFULT*/

/* CSS CADASTRAR prof*/

#main_cadastrarProfessor {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#main_cadastrarProfessor h2 {
  color: #fff;
  display: flex;
  justify-content: center;
}

/* FIM CSS CADASTRAR prof*/

/*  CSS  RECUPERACAO SENHA*/
#body_recuperacaoSenha .modal-header button {
  background-color: rgb(211, 209, 209);
  border-radius: 3px;
  color: #e36767;
}

#botaoCancelarRecuperacaoSenha {
  margin-top: 0px;
}

#enviarSenha,
#botaoCancelarRecuperacaoSenha {
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
}

/* FIM CSS  RECUPERACAO SENHA*/


/* CSS  CONFIRMAR EMAIL*/
.botoesTurmaNova input {
  margin-bottom: 20px;
}

/* FIM CSS   CONFIRMAR EMAIL*/


/* CSS CADASTRAR MAQUINA*/
.form-cadastrarMaq {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.cadMaq {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--azulPrincipal);

  width: 60%;
  padding: 20px;
  border-radius: 50px;
}

.categoria {
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;

}

.body-cadastrarMaquina * {
  overflow-y: hidden;
}

.box select {
  background-color: #1761A6;
  color: white;
  padding: 5px;
  width: 240px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}


.box:hover::before {
  color: rgb(241, 235, 235);
  background-color: #1761A6;
  height: 100%;

}


.addCategoria {
  margin-top: 2%;
  color: white;
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: center;

}

.addCategoria div {
  background-color: #01567d;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-radius: 10px;
  transition: .3s ease;
  font-size: 18px;

}

.addCategoria i {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.addCategoria form input {
  color: white;
  cursor: pointer;
  background-color: #01567d;
  transition: .3s ease;
  height: auto;
}

.imagem-cadastrar {
  max-width: 100%;
}

.input-file {
  display: none;
}

.inputs-cadastrar-maquina {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.inputs-cadastrar-maquina input {
  width: 350px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}


.cadastrar-maquina {
  margin-top: 20px;

}

.cadastrar-maquina input, 
#main_cadastrarCategoriaMaquina #submitTipo {
  width: 220px;
  padding: 7px;
  border-radius: 10px;
  background-color: #1761A6;
  color: white;
  font-size: 18px;
  cursor: pointer;
  height: auto;
}


.inputs-cadastrar-maquina .input_modal {
  margin-top: 0px;
  margin-bottom: 0px;
}

.opcional {
  color: #8ba6b8;
}

/* FIM CSS CADASTRAR MAQUINA*/

/*  CSS INPUT DE ADD IMG*/
#section_input_img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#div_img_input {
  border-radius: 15px;
  background: #046693;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  transition: .3s ease;
  overflow-y: hidden;
}

.input-personalizado {
  cursor: pointer;
}

.form-upload {
  display: block;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  width: 350px;
}

#div_img_input:hover {
  background-color: #0392d4;
  transform: scale(0.9, 0.9);
}

.imagem {
  max-width: 100%;
  height: auto;
}

.input-file {
  display: none;
}

/* FIM CSS  INPUT DE ADD IMG*/


/*  CSS CADASTRAR  TIPO DE MAQUINA*/
#main_cadastrarCategoriaMaquina  {
  display: flex;
  justify-content: center;
}

#body_cadastrarCategoriaMaquina .logo-inicial {
  padding: 0;
}

#main_cadastrarCategoriaMaquina .form_modal * {
  overflow-y: hidden;
}

#main_cadastrarCategoriaMaquina .form_modal .container .header {
  margin: 20px 0px -20px 0px;
}

#main_cadastrarCategoriaMaquina {
  padding: 2%;
}
#main_cadastrarCategoriaMaquina button {
  padding: 8px 10px 8px 10px;
  color: #fff;
  border-radius: 15px;
  font-size: 14px;
  background-color: var(--azulEscuro);
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
}
#main_cadastrarCategoriaMaquina  .bnts div{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_cadastrarCategoriaMaquina .checkboxes_section {
  margin-top: 5vmin;
}

#main_cadastrarCategoriaMaquina .checkboxes_section .checkboxes .input_modal input {
  margin: -40px;
}

#main_cadastrarCategoriaMaquina .checkboxes_section .checkboxes .titulo {
  display: flex;
  justify-content: flex-start;
}

#main_cadastrarCategoriaMaquina .checkboxes_section .checkboxes .titulo p {
  color: #BFE8FBB2;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}


#main_cadastrarCategoriaMaquina .checkboxes_section .checkboxes .container-checkboxes div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 11px;
  transition: .3s ease;
}

#main_cadastrarCategoriaMaquina .checkboxes_section .checkboxes .container-checkboxes div:hover {
  transform: scale(0.9, 0.9);
}

#main_cadastrarCategoriaMaquina .checkboxes_section .checkboxes .container-checkboxes div img {
  margin-right: 4px;
}

#main_cadastrarCategoriaMaquina .checkboxes_section .checkboxes .container-checkboxes div span {
  color: #D2FBFF;
  font-size: 13px;
  font-weight: 500;
}

.bnts div{
  display: flex;
  justify-content: center;
  gap: 10px;
}

#main_cadastrarCategoriaMaquina .w3-modal-content {
  width: 52vw;
}

#main_cadastrarCategoriaMaquina .inputNomePeca,
.inputCodPeca,
.inputTrocaPeca,
.inputItem,
.inputVReferencia,
.inputAtt {
  background-image: url("../img/svg/Gears.svg");
  background-repeat: no-repeat;
  background-size: 1.6rem;
  background-position: 90% center;
  padding: 9px;
  width: 100%;
}

#main_cadastrarCategoriaMaquina .inputCodPeca {
  background-image: url(../img/svg/nameTag.svg);
}

#main_cadastrarCategoriaMaquina .inputTrocaPeca {
  background-image: url(../img/svg/Time.svg);
}

#main_cadastrarCategoriaMaquina .inputItem {
  background-image: url(../img/svg/checklist.svg);
}

#main_cadastrarCategoriaMaquina .inputVReferencia {
  background-image: url(../img/svg/reference.svg);
}

#novoPeca .containerNovaPeca, #novoItem .containerNovoItem, #novoAtributo .containerNovoAtt  {
  display: flex;
  justify-content: center;
  align-items: center;
}

#novoAtributo .containerNovoAtt div,
#novoItem .containerNovoItem div,
#novoPeca .containerNovaPeca div {
  margin-bottom: 5px;
  background-color: #003f5b;
  padding: 3%;
  
  width: 90%;
  border-radius: 14px;
}

#novoAtributo .containerNovoAtt div {
  width: 90%;
}
#main_cadastrarCategoriaMaquina #containerSubmit{
  display: flex;
  justify-content: center;
}
/* FIM CSS CADASTRAR TIPO DE MAQUINA*/

.fecharADD{
  color: #fff;
  cursor: pointer;
  width: 5px;
}

.setaVoltar{
  transition: .3s ease;
}
.setaVoltar:hover{
  transform: scale(0.9,0.9);
}



